<%- include('./header.ejs')  %> 
<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">

      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sobre</a></li>

      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Cursos</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Entrar</a></li>
      <li class="nav-item"><a href="/login/cadastro" class="nav-link link-dark px-2">Cadastre-se</a></li>
    </ul>
  </div>
</nav>
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <img src="/img/study.jpeg" width="30" height="28" class="d-inline-block align-text-top"> 
      
      <span class="fs-4">Lucaria Academy</span>
    </a>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>
<!--
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/img/study.jpeg" width="30" height="28" class="d-inline-block align-text-top"> 
      Lucaria Academy
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cursos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <div class="form">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control form-input" placeholder="Search anything...">
          <span class="left-pan"><i class="fa fa-microphone"></i></span>
        </div>
      </ul>
      
        <div>
          <a href="/login" class="nav-link">Entrar</a>
        </div>
        
      
      
      
        
      
    </div>
    
  </div>
</nav>-->