<%- include('./header.ejs')  %> 

  


  

<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">

      <li class="nav-item">
        <a href="#" class="nav-link link-dark px-2">Sobre</a>
      </li>

      <li class="nav-item">
        <a href="/cursos" class="nav-link link-dark px-2">Cursos</a>
      </li>
    </ul>
    <ul class="nav">
      <% if ( logado ) { %>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= nomeUsuario %> <img >
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">My Courses</a></li>
          <li><a class="dropdown-item" href="#">Excluir a conta</a></li>
          <li><a class="dropdown-item" href="#">Alterar a conta</a></li>
          <li><a class="dropdown-item" href="/usuarios/logoff">Logout</a></li>

        </ul>
      </li>
      <% } else { %>
        <li class="nav-item"><a href="/usuarios/login" class="nav-link link-dark px-2">Entrar</a></li>
        <li class="nav-item"><a href="/usuarios/cadastro" class="nav-link link-dark px-2">Cadastre-se</a></li>
       <% } %>

    </ul>
  </div>
</nav>
<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <img src="/img/ranny.png" width="60" height="52" class="d-inline-block align-text-top"> 
      
      <span class="fs-4">Lucaria Academy</span>
    </a>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>

